.about {
    text-align: center;
    padding: 10px 0;
    position: absolute;
    top: -180px;
    left: 0;
    right: 0;
 
}

.about h1 {
    font-size: 18px; 
    margin-bottom: 5px;
    color: black;
}

.about h2 {
    font-size: 60px; 
    margin-top: 0px; 
    color: #3C2415;
}

.profiles {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    margin-top: 150px;
}

.Joshua, .Ruthcel {
    width: 45%;
    text-align: center;
}

.Joshua img, .Ruthcel img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    object-fit: cover;
}

.Joshua h2, .Ruthcel h3 {
    font-size: 24px;
    margin-top: 10px;
    color: #3C2415;
}

.Joshua p, .Ruthcel p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}