.bird {
    text-align: center;
    padding: 10px 0;
    position: absolute;
    top: -220px;
    left: 0;
    right: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bird h1 {
    font-size: 100px; 
    margin-bottom: 5px;
    color: black;
}

.bird h2 {
    font-size: 60px; 
    margin-top: 0px; 
    color: #3C2415;
}
.type-container {
    display: grid;
    justify-content: space-between; 
    padding: 0 10%;
    margin-top: 300px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30;
}

.type {
    width: 80%; 
    text-align: center;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #3C2415;
    padding: 20px;
    border-radius: 10px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.type img {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    object-fit: cover;
}

.type h2{
    font-size: 18px;
    color: #3C2415;
    margin-top: 5px;
    text-decoration: none;
}

.type p {
    font-size: 18px;
    color: #333;
    margin-top: 5px;
    text-align:center;
}
