body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    padding-top: 120px; 
    padding-bottom: 80px; 
    overflow-y: auto; 
    overflow-x: hidden; 
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #d0b0c8 , #ACC2D9); /* Corrected here */
    padding: 10px 20px;
    border-bottom: solid transparent;
    position: fixed; 
    top: 0;
    width: 98%; 
    z-index: 1000;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 50px;
    margin-right: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; 
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: #3C2415; 
    font-weight: bold;
}

.navbar ul li a:hover {
    color: #000; 
}

h1 {
    text-align: center;
    padding-top: 20%; 
}