body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3C2415;
}

/* Style for the background video */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire area */
    z-index: -1; /* Places the video behind other elements */
    opacity: 0.85;
}

/* Logo container styles */
.logo-container {
    position: relative;
    text-align: center;
    z-index: 1; /* Ensures the logo is above the video */
    margin-top: 20px; /* Add some space from the top */
}

/* Logo styles */
.logo {
    max-width: 750px; /* Adjust the size of the logo */
    height: auto; /* Maintain aspect ratio */
}

/* Motto styles */
.motto {
    position: relative;
    text-align: center;
    z-index: 1; /* Ensures the motto is above the video */
    margin: 20px auto; /* Center the motto */
    padding: 10px;
    max-width: 600px; /* Limit the width of the motto */
    background-color: transparent; /* Semi-transparent background */
    border-radius: 10px; /* Rounded corners for the motto box */
}

/* Motto text styles */
.motto p {
    font-size: 18px; /* Font size for the motto text */
    line-height: 1.5; /* Line height for readability */
    margin: 0; /* Remove default margin */
}