/* viewBird.css */

/* Style for the main heading */
h1 {
    text-align: center;
    color: #3C2415;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 40px;
    padding: 2px;
}

/* Style for the table */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style for the table header */
thead th {
    background-color: #d0b0c8;
    color: #3C2415;
    padding: 12px;
    font-weight: bold;
    text-align: center;
}

/* Style for the table footer */
tfoot th {
    background-color: #dfe6e9;
    color: #d0b0c8;
    padding: 10px;
    text-align: center;
}

/* Style for table cells in tbody */
tbody td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #d0b0c8;
}

/* Style for images in table cells */
tbody img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style for alternate row colors */
tbody tr:nth-child(odd) {
    background-color: #f1f2f6;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

/* Responsive styling */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }

    thead, tfoot {
        display: none; /* Hide table headers and footers on small screens */
    }

    tbody td {
        display: block;
        text-align: left;
        padding: 8px;
        font-size: 14px;
    }

    tbody td img {
        width: 100%;
    }

    .search-form input[type="text"] {
        width: 100%;
        margin-bottom: 8px;
    }

    .search-form button {
        width: 100%;
    }
}
